
@font-face { font-family: "zhfont"; src: url('../assets/fonts/FZYouHJW_503L.TTF'); } 


* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
  cursor: none;
  font-family: zhfont;
}

::-webkit-scrollbar {
  /* width: 0px;
  background: transparent;  */
}

html,
body,
#root
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: lightcyan;
}
/* ::-webkit-scrollbar {
  display: none;
} */

.sticker{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}


/*Cursor region
*/
#cursorRim {
    border-radius: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    pointer-events: none;
    transition: opacity .3s;  
    transition-timing-function: ease-in;
    mix-blend-mode: difference;
    z-index: 100;
  }

  #cursorInner {
    border-radius: 50%;
    background-color: hsl(53, 57%, 68%);
    transform: translate(-50%, -50%);
    position: absolute;
    pointer-events: none;
    mix-blend-mode: difference;
    opacity: 1;
    z-index: 100;
  }


  #cursorWave{
    border-radius: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid hsl(53, 57%, 88%);
    position: inherit;
    top:50%;
    left:50%;
    pointer-events: none;
    mix-blend-mode: difference;
    opacity: 1;
    z-index: 100;
  }

  /*Blog region
*/

  .titleBlock{
    height: 120vh;
    width: 100%;
    background-color: #DDA15E;
    position: absolute;
    top:0pt
  }

  .titleImg {
    width:100%;
    height:100vh;
    object-fit: cover;
    overflow: hidden;
    top:0pt;
    position: absolute;
  }

  .link{
    position: absolute;
    top:100pt;
    left: 20pt;
    width: 100pt;
    height: 20pt;
  }

  .contentBlock{
    background-color: #fefefe;
    position: absolute;
    left:0pt;
    right: 20vw;
    top:100vh;
    display: block;
    opacity: 0.95;
  }

  .txtBlock{
    padding-top: 100pt;
    padding-right:20%;
    padding-left: 20%;
    padding-bottom: 100pt;
  }

.blog{
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  display: flex; 
  flex-direction: column;
  position: absolute;
}


.fullscreen{
  height: 100%;
  width: 100%;
  position: absolute;
  top:0pt;
  left:0pt;
}

.container {
  position: relative;
  width: 100%;
  height: 200%;
  display: grid;
  grid-template-columns:  1fr;
}

.canvas {
  pointer-events: none;
  position: absolute !important;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 200vh;
}
.test{
  position: absolute;
  left: 0px;
  top:0px;
}

.portrait{
  position:absolute;
  overflow: auto;
  display: flex;
  background-color: #fefefe;
  background-size: 90% 90%;
}

.portraitContainer{
  width:100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex; 
  position:absolute;
  scroll-behavior: smooth;
  flex-direction: column;

}

.portraitBg{
  width:100%;
  height:400vh;
  position:absolute;
  display: block;
  justify-content: space-around;
  overflow: hidden;
}

.portraitFocus{
  margin: auto;
  background-color: #DDA15E;
  z-index: 100;
  position: absolute;
  transition: 2s;
}